<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jibinfo.temple.mappers.system.SystemAdminUserMapper" >
  <resultMap id="BaseResultMap" type="com.jibinfo.temple.entity.system.SystemAdminUser" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="USER_ICON" property="userIcon" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="STAT" property="stat" jdbcType="VARCHAR" />
    <result column="USER_MALL" property="userMall" jdbcType="BIGINT" />
    <result column="LAST_LOGIN_DATE" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="SRC_OPEN_USER_ID" property="srcOpenUserId" jdbcType="BIGINT" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    <result column="IS_EMAIL_CONFIRMED" property="isEmailConfirmed" jdbcType="CHAR" />
    <result column="IS_PHONE_CONFIRMED" property="isPhoneConfirmed" jdbcType="CHAR" />
    <result column="CREATER" property="creater" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="PWD_INTENSITY" property="pwdIntensity" jdbcType="CHAR" />
    <result column="MOBILE_TGC" property="mobileTgc" jdbcType="CHAR" />
    <result column="MAC" property="mac" jdbcType="CHAR" />
    <result column="SOURCE" property="source" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_NAME, USER_PWD, BIRTHDAY, NAME, USER_ICON, SEX, NICKNAME, STAT, USER_MALL, 
    LAST_LOGIN_DATE, LAST_LOGIN_IP, SRC_OPEN_USER_ID, EMAIL, MOBILE, IS_DEL, IS_EMAIL_CONFIRMED, 
    IS_PHONE_CONFIRMED, CREATER, CREATE_DATE, UPDATE_DATE, PWD_INTENSITY, MOBILE_TGC, 
    MAC, SOURCE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jibinfo.temple.entity.system.SystemAdminUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from system_admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_admin_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_admin_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jibinfo.temple.entity.system.SystemAdminUserExample" >
    delete from system_admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jibinfo.temple.entity.system.SystemAdminUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_admin_user (USER_NAME, USER_PWD, BIRTHDAY, 
      NAME, USER_ICON, SEX, NICKNAME, 
      STAT, USER_MALL, LAST_LOGIN_DATE, 
      LAST_LOGIN_IP, SRC_OPEN_USER_ID, EMAIL, 
      MOBILE, IS_DEL, IS_EMAIL_CONFIRMED, 
      IS_PHONE_CONFIRMED, CREATER, CREATE_DATE, 
      UPDATE_DATE, PWD_INTENSITY, MOBILE_TGC, 
      MAC, SOURCE)
    values (#{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{userIcon,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{stat,jdbcType=VARCHAR}, #{userMall,jdbcType=BIGINT}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{lastLoginIp,jdbcType=VARCHAR}, #{srcOpenUserId,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{isDel,jdbcType=CHAR}, #{isEmailConfirmed,jdbcType=CHAR}, 
      #{isPhoneConfirmed,jdbcType=CHAR}, #{creater,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{pwdIntensity,jdbcType=CHAR}, #{mobileTgc,jdbcType=CHAR}, 
      #{mac,jdbcType=CHAR}, #{source,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jibinfo.temple.entity.system.SystemAdminUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_admin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="userIcon != null" >
        USER_ICON,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="stat != null" >
        STAT,
      </if>
      <if test="userMall != null" >
        USER_MALL,
      </if>
      <if test="lastLoginDate != null" >
        LAST_LOGIN_DATE,
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP,
      </if>
      <if test="srcOpenUserId != null" >
        SRC_OPEN_USER_ID,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="isEmailConfirmed != null" >
        IS_EMAIL_CONFIRMED,
      </if>
      <if test="isPhoneConfirmed != null" >
        IS_PHONE_CONFIRMED,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="pwdIntensity != null" >
        PWD_INTENSITY,
      </if>
      <if test="mobileTgc != null" >
        MOBILE_TGC,
      </if>
      <if test="mac != null" >
        MAC,
      </if>
      <if test="source != null" >
        SOURCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=VARCHAR},
      </if>
      <if test="userMall != null" >
        #{userMall,jdbcType=BIGINT},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="srcOpenUserId != null" >
        #{srcOpenUserId,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="isEmailConfirmed != null" >
        #{isEmailConfirmed,jdbcType=CHAR},
      </if>
      <if test="isPhoneConfirmed != null" >
        #{isPhoneConfirmed,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdIntensity != null" >
        #{pwdIntensity,jdbcType=CHAR},
      </if>
      <if test="mobileTgc != null" >
        #{mobileTgc,jdbcType=CHAR},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jibinfo.temple.entity.system.SystemAdminUserExample" resultType="java.lang.Integer" >
    select count(*) from system_admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update system_admin_user
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null" >
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userIcon != null" >
        USER_ICON = #{record.userIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.nickname != null" >
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.stat != null" >
        STAT = #{record.stat,jdbcType=VARCHAR},
      </if>
      <if test="record.userMall != null" >
        USER_MALL = #{record.userMall,jdbcType=BIGINT},
      </if>
      <if test="record.lastLoginDate != null" >
        LAST_LOGIN_DATE = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginIp != null" >
        LAST_LOGIN_IP = #{record.lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.srcOpenUserId != null" >
        SRC_OPEN_USER_ID = #{record.srcOpenUserId,jdbcType=BIGINT},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        IS_DEL = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.isEmailConfirmed != null" >
        IS_EMAIL_CONFIRMED = #{record.isEmailConfirmed,jdbcType=CHAR},
      </if>
      <if test="record.isPhoneConfirmed != null" >
        IS_PHONE_CONFIRMED = #{record.isPhoneConfirmed,jdbcType=CHAR},
      </if>
      <if test="record.creater != null" >
        CREATER = #{record.creater,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pwdIntensity != null" >
        PWD_INTENSITY = #{record.pwdIntensity,jdbcType=CHAR},
      </if>
      <if test="record.mobileTgc != null" >
        MOBILE_TGC = #{record.mobileTgc,jdbcType=CHAR},
      </if>
      <if test="record.mac != null" >
        MAC = #{record.mac,jdbcType=CHAR},
      </if>
      <if test="record.source != null" >
        SOURCE = #{record.source,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update system_admin_user
    set ID = #{record.id,jdbcType=BIGINT},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      NAME = #{record.name,jdbcType=VARCHAR},
      USER_ICON = #{record.userIcon,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=CHAR},
      NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      STAT = #{record.stat,jdbcType=VARCHAR},
      USER_MALL = #{record.userMall,jdbcType=BIGINT},
      LAST_LOGIN_DATE = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      LAST_LOGIN_IP = #{record.lastLoginIp,jdbcType=VARCHAR},
      SRC_OPEN_USER_ID = #{record.srcOpenUserId,jdbcType=BIGINT},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      IS_DEL = #{record.isDel,jdbcType=CHAR},
      IS_EMAIL_CONFIRMED = #{record.isEmailConfirmed,jdbcType=CHAR},
      IS_PHONE_CONFIRMED = #{record.isPhoneConfirmed,jdbcType=CHAR},
      CREATER = #{record.creater,jdbcType=BIGINT},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      PWD_INTENSITY = #{record.pwdIntensity,jdbcType=CHAR},
      MOBILE_TGC = #{record.mobileTgc,jdbcType=CHAR},
      MAC = #{record.mac,jdbcType=CHAR},
      SOURCE = #{record.source,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jibinfo.temple.entity.system.SystemAdminUser" >
    update system_admin_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        USER_ICON = #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        STAT = #{stat,jdbcType=VARCHAR},
      </if>
      <if test="userMall != null" >
        USER_MALL = #{userMall,jdbcType=BIGINT},
      </if>
      <if test="lastLoginDate != null" >
        LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="srcOpenUserId != null" >
        SRC_OPEN_USER_ID = #{srcOpenUserId,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="isEmailConfirmed != null" >
        IS_EMAIL_CONFIRMED = #{isEmailConfirmed,jdbcType=CHAR},
      </if>
      <if test="isPhoneConfirmed != null" >
        IS_PHONE_CONFIRMED = #{isPhoneConfirmed,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdIntensity != null" >
        PWD_INTENSITY = #{pwdIntensity,jdbcType=CHAR},
      </if>
      <if test="mobileTgc != null" >
        MOBILE_TGC = #{mobileTgc,jdbcType=CHAR},
      </if>
      <if test="mac != null" >
        MAC = #{mac,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        SOURCE = #{source,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jibinfo.temple.entity.system.SystemAdminUser" >
    update system_admin_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      NAME = #{name,jdbcType=VARCHAR},
      USER_ICON = #{userIcon,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      STAT = #{stat,jdbcType=VARCHAR},
      USER_MALL = #{userMall,jdbcType=BIGINT},
      LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=TIMESTAMP},
      LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      SRC_OPEN_USER_ID = #{srcOpenUserId,jdbcType=BIGINT},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      IS_DEL = #{isDel,jdbcType=CHAR},
      IS_EMAIL_CONFIRMED = #{isEmailConfirmed,jdbcType=CHAR},
      IS_PHONE_CONFIRMED = #{isPhoneConfirmed,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      PWD_INTENSITY = #{pwdIntensity,jdbcType=CHAR},
      MOBILE_TGC = #{mobileTgc,jdbcType=CHAR},
      MAC = #{mac,jdbcType=CHAR},
      SOURCE = #{source,jdbcType=CHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>